<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @board.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @board.content %>
</p>

<% if can? :update, @board %>
       	<td><%= link_to 'Edit', edit_board_path(@board) %></td>
	<% end %>
	<% if can? :destroy, @board %>
       	<td><%= link_to 'Destroy', @board, method: :delete, data: { confirm: 'Are you sure?' } %></td>
	<% end %>
	
<%= link_to 'Back', boards_path %>

<br>
<hr>

<table style="border-collapse: collapse;">
  <% @board.comments.each_with_index do |comment, index| %>
    <tr>
      <td style="border-bottom: 1px solid">
           <h3><%= comment.user.email %></h3>
        </td>
      <td style="border-bottom: 1px solid;">
        <%= comment.comment %>
      </td>
      <td style="border-bottom: 1px solid">
          
	    <% if can? :destroy, comment %>
         <%= link_to 'Destroy', [@board, comment], method: :delete, data: { confirm: 'Are you sure?' } %>   
	    <% end %>
    
        </td>
    </tr>
  <% end %>
</table>
<hr>
 <%= render 'comments/form' %>